# Django
__pycache__/
*.py[cod]
*$py.class
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environments
.env
.venv
venv/
ENV/
env/

# IDEs
.vscode/
.idea/

# Docker
.docker/

# Logs
*.log
